<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Criar conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-list class="line-input">
      <ion-item  lines="none">
        <ion-label position="floating"> Nome</ion-label>
        <ion-input maxlength="50" formControlName="firstName" type="text"></ion-input>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.username">
        <div class="error-message" *ngIf="form.get('firstName').hasError(validation.type) && (form.get('firstName').dirty || form.get('firstName').touched)">
          {{ validation.message }}
        </div>
      </ng-container>

      <ion-item lines="none">
        <ion-label position="floating">Sobrenome</ion-label>
        <ion-input maxlength="50" formControlName="lastName" type="text"></ion-input>
      </ion-item>
  
      <ion-item lines="none">
        <ion-label>Sexo</ion-label>
        <ion-select  formControlName="gender">
          <ion-select-option value="f">Feminino</ion-select-option>
          <ion-select-option value="m">Masculino</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item lines="none">
        <ion-label>Data Nascimento</ion-label>
        <ion-datetime formControlName="birthDate" max="2000" displayFormat="DD/MM/YYYY"></ion-datetime>
      </ion-item>
  
      <ion-item lines="none">
        <ion-label position="floating">Email</ion-label>
        <ion-input maxlength="50" formControlName="email" type="text"></ion-input>
      </ion-item>
  
      <ion-item [ngClass]="{ 'error-input': form.controls['password'].invalid}" lines="none">
        <ion-label [ngClass]="{ 'error-label': form.controls['password'].invalid}" position="floating">Senha</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="form.invalid" (click)="onSubmit()" type="submit" shape="round" color="primary" expand="block">Criar conta</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>