<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Criar conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-item lines="full">
      <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="firstName" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Sobrenome</ion-label>
      <ion-input formControlName="lastName" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Senha</ion-label>
      <ion-input formControlName="password"  type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="onSubmit()" type="submit" color="danger" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>