<ion-header>
  <ion-toolbar>
    <ion-title> {{ treino.divisao }}</ion-title>
    <ion-buttons (click)="close()" slot="start" class="title-toolbar">
      <ion-button>
        <ion-icon style="font-size: 25px" name="chevron-down-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="end">
      <ion-icon name="timer-outline"></ion-icon> {{ cronometro }}
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let exercicio of treino.exercicios">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>{{ exercicio.exercicio }}
        <p style="padding-top: 1px;"><span> {{ exercicio.sxR }}</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list-header>
    <ion-label>Intervalo de {{ treino.intervalo }}</ion-label>
  </ion-list-header>
</ion-content>

<ion-footer>
  <ion-button *ngIf="!treino.treinando && !treino.dataExecucao" (click)="iniciarTreino()" expand="full">Iniciar treino
  </ion-button>
  <ion-button *ngIf="treino.treinando && !treino.dataExecucao" color="danger" (click)="finalizarTreino()" expand="full">
    Finalizar treino</ion-button>
</ion-footer>