<ion-header>
  <ion-toolbar>
    <ion-title >Treino A</ion-title>
    <ion-buttons (click)="close()" slot="start" class="title-toolbar">
      <ion-button>
        <ion-icon style="font-size: 25px" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Supino Reto Barra
        <p style="padding-top: 1px;"><span> 4 séries de 10 repetições</span></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Supino Reto Barra
        <p style="padding-top: 1px;"><span> 4 séries de 10 repetições</span></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Supino Reto Barra
        <p style="padding-top: 1px;"><span> 4 séries de 10 repetições</span></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Supino Reto Barra
        <p style="padding-top: 1px;"><span> 4 séries de 10 repetições</span></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Supino Reto Barra
        <p style="padding-top: 1px;"><span> 4 séries de 10 repetições</span></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Supino Reto Barra
        <p style="padding-top: 1px;"><span> 4 séries de 10 repetições</span></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Supino Reto Barra
        <p style="padding-top: 1px;"><span> 4 séries de 10 repetições</span></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Supino Reto Barra
        <p style="padding-top: 1px;"><span> 4 séries de 10 repetições</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list-header>
    <ion-label>Intervalo de 45 a 60s</ion-label>
  </ion-list-header>

</ion-content>

<ion-footer>
  <ion-button (click)="onSubmit()" expand="full">Iniciar treino</ion-button>
</ion-footer>