<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title >Novo treino</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="novoTreino()" [disabled]="!idSemanaDia">  <ion-icon name="checkmark"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="getSemanaDias(true,$event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list-header>
    <ion-label>Qual o dia deseja iniciar o treino?</ion-label>
  </ion-list-header>

  <ion-list>
    <ion-item *ngFor="let dia of semanaDias" lines="none">
      <ion-button shape="round" [fill]="btnSelected(dia.idSemanaDia)"  expand="full" (click)="idSemanaDia = dia.idSemanaDia">{{dia.semanaDia}}</ion-button>
    </ion-item>
  </ion-list>

</ion-content>