<ion-header>
  <ion-toolbar>
    <ion-title>Treinos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-refresher slot="fixed" (ionRefresh)="getTreinosSemana(true,$event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="(this.treinosSemana.dataFim < this.date.toISOString())" (click)="openNovoTreino()">
    <ion-item>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-card-header>

        <ion-card-title>Novo treino</ion-card-title>
        <ion-card-subtitle>Clique aqui para solicitar um novo treino</ion-card-subtitle>
      </ion-card-header>
    </ion-item>
  </ion-card>

  <ion-list-header>
    <ion-label>{{ treinosSemana.tipo }}</ion-label>
  </ion-list-header>

  <ion-card *ngFor="let treino of treinosSemana.treinos" (click)="openTreino(treino)">
    <ion-card-header>
      <ion-row justify-content-between>
        <ion-col col-11>
          <ion-card-title>{{treino.divisao}}</ion-card-title>
        </ion-col>
        <ion-col col-1>
          <span class="pull-right" item-right>{{ treino.semanaDia }}</span>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-list style="margin-top: -15px;">
      <ion-item lines="none">
        <ion-chip *ngFor="let grupo of treino.grupos">
          <ion-label>{{ grupo }}</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item lines="none">
        <ion-label>{{ treino.qtdExercicios}} Exercicios
          <p> <span> </span></p>
        </ion-label>
        <ion-icon name="play-circle-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>