<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Treinos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-refresher slot="fixed" (ionRefresh)="getTreinosSemana(true,$event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="enbaleTreinoNovo(this.treinosSemana?.dataFim)" (click)="openNovoTreino()">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <span class="dot">
          <ion-icon name="add"></ion-icon>
        </span>
      </ion-avatar>
      <ion-card-header>
        <ion-card-title>Novo treino</ion-card-title>
        <ion-card-subtitle>
          Clique aqui para solicitar um novo treino 
        </ion-card-subtitle>
      </ion-card-header>
    </ion-item>
  </ion-card>

  <ion-list-header>
    <ion-label>{{ treinosSemana?.tipo }}</ion-label>
  </ion-list-header>

  <div >
    <ion-card class="treino" *ngFor="let treino of treinosSemana?.treinos" (click)="openTreino(treino)">
      <ion-card-header>
        <ion-row justify-content-between>
          <ion-col col-11>
            <ion-card-title>{{treino?.divisao}}</ion-card-title>
          </ion-col>
          <ion-col col-1>
            <span class="pull-right" item-right>{{ treino?.semanaDia }}</span>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-list style="margin-top: -15px;">
        <ion-item lines="none">
          <ion-chip *ngFor="let grupo of treino.grupos">
            <ion-label>{{ grupo }}</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item lines="none">
          <ion-label style="color: #737373">{{ treino?.qtdExercicios}} exercicios
            <p *ngIf="treino.tempoTreino > 0" style="padding-top: 10px;"> <span> <i>
              Tempo médio gasto:
              {{ getTempMedioTreino( treino.tempoTreino ) }}
            </i>  </span></p>
          </ion-label>

          
          <span class="dot">
            <ion-icon name="play"></ion-icon>
          </span>

        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>