.pull-right {
    float: right;
  }

ion-card{
    box-shadow: none !important;
    
  }

  .treino{
    min-height: 175px;
  }
  

span{
      color: #737373;
  }

  ion-chip{
      background-color:#F6D8CE;
      border-radius: 5px;
  }

  .play{
      background-color:  var(--ion-color-primary);
      display:block;
      border-radius: 50%;
  }
  
  .dot {
    background-color:  var(--ion-color-primary);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
  }

  ion-list-header{
    text-align: center;
  }
  